a {
    text-decoration: none;
}

.active-page {
    color: #ffc8df;
    text-decoration: underline;
}

.cta {
    background: #004964;
    border: solid 5px #0f272f;
    color: #FFF;
    padding: 9px;
    text-decoration: none;
    font-size: 1.3em;
    font-family: "Quattrocento", "Baskerville", serif;
    font-weight: 700;
    text-align: center;
}

.cta:hover {
    border: dotted 5px #0f272f;
    text-decoration: underline;
}

#contact__button {
    /* background: #004964; */
    /* border: solid 5px #0f272f; */
    /* color: #FFF; */
    /* padding: 9px; */
    /* text-decoration: none; */
    /* font-size: 1.3em; */
    /* font-family: "Quattrocento", "Baskerville", serif; */
    /* font-weight: 700; */
    /* text-align: center; */
    cursor: pointer;
    display: block;
    width: 175px;
    margin-top: 35px;
}

#contact__button {
    /* border: dotted 5px #0f272f; */
    /* text-decoration: underline; */
}

.text-link {
    color: #e52f84;
    font-style: italic;
    font-weight: 700;
    font-size: 1.2em;
}

.text-link:hover {
    text-decoration: underline;
    text-decoration-color: #e52f84;
}

.blog-post-clickable {
    color: #0f272f !important;
}

footer a {
    color: #FFF;
}
