.welcome-image-section h1 {
    color: #FFF;
}

.welcome-image-section {
    position: relative;
}

.welcome-image-desktop {
    display: none;
}

.h1-mobile {
    position: absolute;
    top: 75%;
    left: 50%;
    margin: 0 0 0 -130px;
    margin-left: -130px;
    text-align: center;
}

.h1-desktop {
    display: none;
}

.latest-posts__carousel {
    display: none;
}

.latest-posts-section {
    padding-bottom: 13px;
    margin-bottom: 50px;
}

.latest-posts-section h2 {
    margin-top: 0px;
    padding-top: 50px;
    margin-bottom: 25px;
}

.latest-posts-section h3,
.latest-posts-section p,
.other-pages-section h3,
.other-pages-section p {
    margin-left: 13px;
    margin-right: 13px;
}

.latest-posts-section h3,
.other-pages-section h3 {
    margin-top: 13px;
    margin-bottom: 5px;
}

.latest-posts-section p,
.other-pages-section p {
    margin-top: 0px;
    margin-bottom: 40px;
}

.latest-posts-section .cta {
    margin: 0 0 0 13px;
    display: block;
    height: 23px;
    width: 160px;
    text-align: center;
}

.other-pages-section {
    padding-bottom: 2px;
}
