@media (min-width: 480px) {
    .h1-mobile {
        top: 76%;
    }
}

@media (min-width: 600px) {
    body {
        background: url("../images/background-desktop.svg") no-repeat center center
            fixed;
    }

    .welcome-image-mobile {
        display: none;
    }

    .welcome-image-desktop {
        display: block;
    }

    .h1-mobile {
        display: none;
    }

    .h1-desktop {
        display: block;
        position: absolute;
        top: 77%;
        left: 50%;
        text-align: center;
        margin: 0 0 0 -232px;
    }

    .latest-posts-section {
        padding-bottom: 63px;
        margin-bottom: 0px;
    }

    .latest-posts-mobile-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0px;
    }

    .other-pages-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 26px;
        padding: 13px 13px 60px 13px;
    }

    .other-pages-section h2 {
        display: block;
        grid-column: -1/1;
        margin-bottom: 0px;
    }

    .other-pages-section p {
        margin-bottom: 13px;
    }

    footer {
        width: 380px;
        margin: 43px auto 0px auto;
    }
}

@media (min-width: 800px) {
    .h1-desktop {
        top: 81%;
    }
}

@media (min-width: 1000px) {
    h1 {
        font-size: 2.5em;
    }

    .h1-desktop {
        top: 83%;
    }

    .latest-posts__mobile {
        display: none;
    }

    .latest-posts__carousel {
        display: block;
        position: relative;
    }

    .latest-posts-section {
        position: relative;
        padding-bottom: 90px;
    }

    .arrow-next,
    .arrow-prev {
        height: 50px;
        width: 50px;
        display: block;
        position: absolute;
        top: 40px;
        box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.4);
        border-radius: 50%;
    }

    .arrow-next,
    .arrow-prev {
        right: 0;
    }

    .arrow-next {
        margin-right: 13px;
        cursor: pointer;
    }

    .arrow-prev {
        margin-right: 80px;
        cursor: pointer;
    }

    .selected-row {
        display: flex;
        margin: 13px;
        gap: 13px;
        animation: fadeIn 0.8s linear;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .other-pages-section {
        padding: 13px 13px 70px 13px;
    }

    .other-pages-section h2 {
        display: none;
    }
}

@media (min-width: 1600px) {
    .h1-desktop {
        top: 86%;
    }

    .latest-posts-section,
    .other-pages-section,
    .welcome-image-desktop {
        margin-left: auto;
        margin-right: auto;
    }

    .latest-posts-section {
        padding-bottom: 110px;
    }

    .other-pages-section {
        padding: 13px 0px 70px 0px;
    }

    .other-pages-section img {
        width: 774px;
    }

    .sewing-glossary-page,
    .gallery-page {
        display: grid;
    }

    .sewing-glossary-page {
        justify-content: right;
    }

    .gallery-page {
        justify-content: left;
    }


}