@media (min-width: 480px) {
    .h1-mobile {
        top: 76%;
    }
}

@media (min-width: 600px) {
    .welcome-image-mobile {
        display: none;
    }

    .welcome-image-desktop {
        display: block;
    }

    .h1-mobile {
        display: none;
    }

    .h1-desktop {
        display: block;
        position: absolute;
        top: 77%;
        left: 50%;
        text-align: center;
        margin: 0 0 0 -232px;
    }

    .latest-posts-section {
        padding-bottom: 63px;
        margin-bottom: 0px;
    }

    .latest-posts-mobile-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0px;
    }

    .other-pages-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 26px;
        padding: 13px 13px 60px 13px;
    }

    .other-pages-section h2 {
        display: block;
        grid-column: -1/1;
        margin-bottom: 0px;
    }

    .other-pages-section p {
        margin-bottom: 13px;
    }

    footer {
        width: 380px;
        margin: 50px auto 0px auto;
    }
}

@media (min-width: 800px) {
    body {
        background: url("../images/background-desktop.png") no-repeat center center
            fixed;
    }
    
    .h1-desktop {
        top: 81%;
    }

    .main,
    .about__main {
        padding: 0px 70px 50px 70px;
    }

    .blog-posts-h1 {
        padding: 40px 70px 50px 70px;
    }

    .blog-posts-section {
        padding: 0 70px 50px 70px;
    }

    .blog-posts-section h2 {
        margin: 0 0 15px 0;
    }

    .blog__blog-post {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        gap: 100px;
    }
    
    .blog__blog-post > * {
        flex: 1;
    }

    .close-button {
        margin-right: 4%;
        top: 4%;
    }
}

@media (min-width: 1000px) {
    nav {
        display: block;
        position: static;
        font-size: 1.2em;
        background: none;
    }

    nav li {
        display: inline-block;
        padding: 0 0 0 50px;
      }

    header label {
        display: none;
    }

    h1 {
        font-size: 2.5em;
    }

    .cta {
        font-size: 1.5em;
    }

    .h1-desktop {
        top: 83%;
    }

    .latest-posts__mobile {
        display: none;
    }

    .latest-posts__carousel {
        display: block;
        position: relative;
    }

    .latest-posts-section {
        position: relative;
        padding-bottom: 90px;
    }

    .arrow-next,
    .arrow-prev {
        height: 50px;
        width: 50px;
        display: block;
        position: absolute;
        top: 40px;
        box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.4);
        border-radius: 50%;
    }

    .arrow-next,
    .arrow-prev {
        right: 0;
    }

    .arrow-next {
        margin-right: 13px;
        cursor: pointer;
    }

    .arrow-prev {
        margin-right: 80px;
        cursor: pointer;
    }

    .selected-row {
        display: flex;
        margin: 13px;
        gap: 13px;
        animation: fadeIn 0.8s linear;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .latest-posts-section .cta {
        height: 27px;
        width: 195px;
    }

    .blog-posts-section .cta {
        width: 182px;
        height: 26px;
    }

    .other-pages-section {
        padding: 13px 13px 70px 13px;
    }

    .other-pages-section h2 {
        display: none;
    }

    .main {
        display: flex;
        gap: 80px;
        padding: 0px 80px 0px 80px;
    }

    .blog-post-container {
        flex: 2;
    }

    .categories-section {
        margin-top: 40px;
    }

    .categories-section h3 {
        margin-top: 0;
    }

    .text-and-image {
        display: flex;
        align-items: start;
        gap: 40px;
    }

    .text-and-image > * {
        flex: 1;
    }

    .modal {
        width: 80%;
    }
}

@media (min-width: 1200px) {
    .main {
        gap: 195px;
        padding: 0px 150px 0px 150px;
    }

    .text-and-image {
        gap: 60px;
    }

    .modal {
        width: auto;
        height: 80%;
    }
}

@media (min-width: 1400px) {
    .main {
        gap: 230px;
        padding: 0px 200px 0px 200px;
    }

    .about__main {
        padding: 0px 140px 50px 140px;
    }
}

@media (min-width: 1600px) {
    .cta {
        font-size: 1.8em;
    }

    .h1-desktop {
        top: 86%;
    }

    .latest-posts-section,
    .other-pages-section,
    .welcome-image-desktop {
        margin-left: auto;
        margin-right: auto;
    }

    .latest-posts-section {
        padding-bottom: 110px;
    }

    .latest-posts-section .cta {
        height: 32px;
        width: 235px;
    }

    .blog-posts-section .cta {
        width: 225px;
        height: 32px;
    }

    .other-pages-section {
        padding: 13px 0px 70px 0px;
    }

    .other-pages-section img {
        width: 774px;
    }

    .sewing-glossary-page,
    .gallery-page {
        display: grid;
    }

    .sewing-glossary-page {
        justify-content: right;
    }

    .gallery-page {
        justify-content: left;
    }

    .blog-posts-h1,
    .blog-posts-section {
        margin: 0px auto;
        max-width: 1320px;
    }

    .blog-posts-h1 {
        padding: 40px 140px 50px 140px;
    }

    .blog-posts-section {
        padding: 0 140px 50px 140px;
    }

    .blog__blog-post {
        gap: 120px;
    }

    .main {
        gap: 330px;
        padding: 0px 220px 0px 220px;
        max-width: 1160px;
        margin: auto;
    }

    .about__main {
    max-width: 1320px;
    margin: auto;
    }

    .modal {
        width: auto;
        height: 85%;
    }
}