body {
  font-family: "Lato", "Verdana", sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #0f272f;
  margin: 0;
  background-color: #006d60;
  font-size: 1em;
  background: url("../images/background-mobile.JPG") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
  font-family: "Quattrocento", "Baskerville", serif;
  font-weight: 700;
  font-size: 2em;
}
