body {
  font-family: "Lato", "Verdana", sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #0f272f;
  margin: 0;
  background-color: #006d60;
  font-size: 1em;
  background: url("../images/background-mobile.JPG") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
.cta {
  font-family: "Quattrocento", "Baskerville", serif;
  font-weight: 700;
  color: #004964;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.3em;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

header {
  position: relative;
  background-color: #006d60;
  padding: 15px 32px;
  box-shadow: 0px 3px 12px 8px rgba(0, 0, 0, 0.6);
  z-index: 100;
}

.logo-and-hamburger {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 90px;
}

.light-blue-bg {
  background: #e4f9f4;
}

.margin-auto {
  margin: auto;
}

.margin-25 {
  margin-left: 25px;
  margin-right: 25px;
}

.margin-13 {
  margin-left: 13px;
  margin-right: 13px;
}

.max-width-1600 {
  max-width: 1600px;
}

nav {
  display: none;
  position: fixed;
  top: 91px;
  background-color: #0f272f;
  z-index: 1000;
  right: 0px;
  text-align: right;
}

nav li {
  padding: 10px 30px 10px 30px;
  display: block;
  font-weight: 700;
  text-transform: uppercase;
}

nav li a {
  color: #FFF;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

header i {
  color: #FFF;
  font-size: 1.5em;
}

ul {
  list-style-type: none;
  padding: 0px;
}

.cta {
  background: #004964;
  border: solid 5px #0f272f;
  color: #FFF;
  padding: 9px;
  text-decoration: none;
  font-size: 1.3em;
}
.cta:hover {
  border: dotted 5px #0f272f;
  text-decoration: underline;
}

.loader {
  content: "";
  width: 50px;
  height: 50px;
  border: 10px solid transparent;
  border-top-color: #FFF;
  border-radius: 50%;
  animation: spinning 1.5s linear infinite;
}

@keyframes spinning {
  to {
    transform: rotate(1turn);
  }
}

footer {
  color: #FFF;
  margin-top: 43px;
}

footer a {
  color: #FFF;
}

.short-menu-and-socials {
  display: flex;
  justify-content: space-between;
}

.short-menu,
.social-media,
.copyright {
  background:#006d60;
}

.short-menu,
.social-media {
  padding: 5px 13px 5px 13px;
}

.short-menu h4 {
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

.short-menu a {
  display: block;
  margin: 0 0 5px 0;
}

.social-media p {
  margin: 0 0 5px 0;
}

.social-media__icons {
  display: flex;
  justify-content: space-between;
}

.social-media__icons {
  font-size: 2.9em;
  margin-bottom: 5px;
}

.copyright {
  text-align: center;
  font-size: 0.9em;
  font-weight: 300;
  padding: 3px;
  width: 235px;
  margin: 35px auto 8px auto;
}

.copyright p {
  padding: 0px;
  margin: 0px;
}
